
/*General Styles and Layout */




p {
  max-width: 200px;
}

/* Navigation*/


.topnav {
  background-color: transparent;
  top: 0;
  padding: 0px;
  color: black;
 left: 0;
 height: 10px;
 position: sticky;
 

}


ul {

  list-style-type: none;
  font-family: AvenirNextLTWO1-Medium, 'Avenir', sans-serif;
text-transform: uppercase;
  text-decoration-color: #Ef4922;
}

ul{
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 5px 10px;
  
}


/*Button Styles*/
button {
  align-items: right;
  background-color: #EF4922;
  border: none;
  border-radius:  30px;
  text-align: center;
  color:white;
  font-size: 20px;
padding: 14px 40 px;
text-decoration: none;
text-transform: uppercase;
position: relative;
float: right;
padding: 20px 20px;
margin-right: 20px;
}

button:hover {
  color:#Ef4922;
  background-color: white;
}

.blackgroundblue div {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 500px;
  max-height: none;
}

#col1 {
  column-count: 3;
  display: flex;
  justify-content: center;

}

h3 {
  font-family: AvenirNextLTWO1-Medium, 'Avenir', sans-serif;
  font-size: medium
  text-transform: uppercase;
  text-align: center;
  max-width: 200px;
}


#col {
    column-count: 3;
    display: flex;
    justify-content: center;

}

/* Paragraph Styles*/
h1 {
  font-family: AvenirNextLTWO1-Medium, 'Avenir', sans-serif;
  text-transform: uppercase;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%; 
}

h2 {
    font-family: AvenirNextLTWO1-Medium, 'Avenir', sans-serif;
    font-size: xx-large;
text-transform: uppercase;
text-align: center;
}



  /* Image Sizes */

  #Patagonia-Logo {
    width: 105px;
    height: 25%;
    margin-top: 0px;
display: flex;
    align-content: center;
    margin-left: 40px;
    padding-bottom: 10px;
  }

  .container {
    height: 580px;
    width:700px;
    margin: 0 auto;
    z-index: 1;
    border:1px solid black;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-290px;
  
}
.content{
    text-align:center;
    display:flex;
}

#BlueHeart {
  padding-top:  100px;
  min-width: 100px;
  min-height: 100px;

}

.blueheart {
  
  display: flex;
  align-self: center;
  justify-content: center;
}

.blueheart div {
  padding-top: 50px;
width: 50px;
height: 50px;

}

.backgroundblue {
  width: 25%;
  height: auto;
}

.backgroundblue div {
  max-width: fit-content;
  max-height: none;
  min-height: 3000px;
}


@media screen and (max-width: 700px) {
  /* Styles for screens smaller than or equal to 768px */

  #BlueHeart {
    padding-top:  100px;
    max-width: 150px;
    max-height: 150px;
  }
}

@media screen and (min-width: 700px) {
  /* Styles for screens smaller than or equal to 768px */

  #BlueHeart {
    padding-top:  100px;
    max-width: 450px;
    max-height: 450px;
  }

  #Dams {
    display: none;
  }

  #Discover {
    display: none;
  }

  #Patagonia-Logo {
    margin-left: 5px;
  }

  .backgroundblue {
    max-width: 500px;
    max-height: none;
  }

}



